.date-filter-button {
    -fx-background-color: grey;
    -fx-font-size: 18px;
}

.date-filter-button:focused {
    -fx-background-color: lightgrey;
}

.date-filter-button:hover {
    -fx-background-color: lightgrey;
}

.chart-title, .axis-label, .axis-tick-mark {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.axis {
    -fx-tick-label-fill: white;
}

.chart-line-symbol {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


